# Runtime requirements
--requirement requirements.txt

# Testing
scipy
pytest
pytest-cov

# Scripts
loguru
pyarrow

# Linting/Tooling
cython-lint
black
pyright

# Type stubs
types-setuptools
pandas-stubs

# Documentation
sphinx
sphinx_design
furo
